//vars
$blanco: rgb(208, 208, 208);
$azulito: rgba(14, 119, 225, 0.5);

* {
    box-sizing: border-box;
}

body{
    background-image: url(../../assets/img/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: auto;
    margin-top: 25vh;
    padding: 2em;
    border-radius: 1em;
}

h2 {
    margin: auto;
    margin-bottom: 1em;
    color: $blanco;
}

.divs {
    display: flex;
    flex-direction: row;
}

div{
    div {
        display: flex;
        flex-direction: column;
        margin-right: 3em;
    }
}

input {
    margin: .5em;
    outline: none;
    border: none;
    width: 115%;
    background: transparent;
    border-bottom: 2px solid $azulito;
    color: $blanco;

    &:hover{
        border-bottom-color: rgba(14, 119, 225, 0.75);
    }

    &:focus-visible {
        background-color: rgba(208, 208, 208, 0.1);
    }
}

button {
    margin: .5em;
    outline: none;
    background: transparent;
    border-bottom: 2px solid $azulito;
    color: $blanco;
    position: relative;
    right: .5%;
    width: 73.5%;
    margin-top: 2em;
    border: none;
    &:hover {
        background-color: rgba(208, 208, 208, 0.1);
        transition: background-color .15s;
    }
    &:active{
        background-color: rgba(208, 208, 208, 0.15);
    }
}